body
{
    font-size: 25px;
    min-height: 100%;
  	margin-left: auto;
  	margin-right: auto;
    text-align: center;
    font-family: "Courier New", monospace;
}

.error
{
    margin-top: 400px;
}

.index
{
    position: absolute;
    border-radius: 50px;
    box-shadow: 0 0 20px rgb(155, 155, 155);
    width:130px;
    height:40px;
    padding-top: 10px;
    margin-left: 20px;
    margin-top: 20px;
    vertical-align: middle;
    text-align: center;
    margin-right: 100px;
}

body, a
{
    color:black;
}

a
{
    text-decoration: none;
}

.index:hover
{
    background-color: #c4c4c4;
}

nav
{
   position: fixed;
   top: 0px;
   margin-top: 30px;
}